In [1]:
%config Completer.use_jedi = False
from solaris.data import data_dir
import solaris as sol
import os
import skimage
import geopandas as gpd
from matplotlib import pyplot as plt
from shapely.ops import cascaded_union
import cv2
import rasterio as rio
import pycocotools.mask as mask_util
import shapely
import math

C:\Users\rasha\.conda\envs\omdena_energy\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\rasha\.conda\envs\omdena_energy\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\rasha\.conda\envs\omdena_energy\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\rasha\.conda\envs\omdena_energy\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\rasha\.conda\envs\omdena_energy\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\rasha\.conda\envs\omdena_energy\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
from post_processing_pipeline import Post_Process

In [3]:
# Test our pipeline
img_name = 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif'
data_dir = 'D:/SpaceNet_TrainData/train/AOI_6_Atlanta/Atlanta_tif'
image = rio.open(os.path.join(data_dir, 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif'))
coco_file = 'D:/coco_instances_results (2).json'

In [4]:
obj=Post_Process(coco_file, image, img_name, 0.6)
mask, data_dict = obj.get_full_post_process(result_to_dict=True)

mask, geo_df_full = obj.get_full_post_process(result_to_dict=False)
geo_df_full

,geometry,pixel_col,pixel_row,area(square meter),Roof_Azimuth,longitude,latitude
0,"POLYGON ((33.79326 -84.39416, 33.79326 -84.394...",26.082018,812.640204,316.920627,-45.279103,33.793218,-84.394079
1,"POLYGON ((33.79335 -84.39218, 33.79334 -84.391...",415.059885,791.672504,794.197747,18.156181,33.793269,-84.391977
2,"POLYGON ((33.79357 -84.39168, 33.79357 -84.391...",484.069760,745.437816,495.086056,-71.843713,33.793469,-84.391598
3,"POLYGON ((33.79305 -84.38979, 33.79305 -84.389...",840.452667,843.748667,390.703442,-161.843664,33.792985,-84.389689
4,"POLYGON ((33.79298 -84.38956, 33.79298 -84.389...",879.790460,846.305716,269.742387,-71.843618,33.792969,-84.389477
5,"POLYGON ((33.79288 -84.38953, 33.79288 -84.389...",883.113833,879.459654,216.919396,108.156300,33.792820,-84.389464
6,"POLYGON ((33.79672 -84.38941, 33.79672 -84.389...",885.952131,23.695452,327.560077,108.158005,33.796674,-84.389331

In [5]:
data_dict

[{'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [789.4105224609375,
   9.902623176574707,
   46.32769775390625,
   37.948116302490234],
  'score': 0.7769378423690796,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86f6b08c8>,
  'pixel_col': 26.082018408941487,
  'pixel_row': 812.6402038132807,
  'longitude': 3576437.571325944,
  'latitude': 4260201.945547978,
  'area(square meter)': 316.9206268219927,
  'Roof_Azimuth': -45.279102844064},
 {'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [865.0595703125,
   870.4891967773438,
   28.8116455078125,
   25.27032470703125],
  'score': 0.7426760792732239,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86f6baf88>,
  'pixel_col': 415.0598845598846,
  'pixel_row': 791.6725042634133,
  'longitude': 3576640.5538726174,
  'latitude': 4260280.84652776,
  'area(square meter)': 794.1977471106129,
  'Roof_Azimuth': 18.156180771622783},
 {'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [716.3833618164062,
   467.3431091308594,
   55.13653564453125,
   32.927276611328125],
  'score': 0.7216585278511047,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86f6baf48>,
  'pixel_col': 484.0697601010101,
  'pixel_row': 745.4378156565657,
  'longitude': 3576669.1594044184,
  'latitude': 4260317.429933534,
  'area(square meter)': 495.08605569162194,
  'Roof_Azimuth': -71.84371313350162},
 {'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [824.4927978515625,
   822.1723022460938,
   37.1214599609375,
   37.0557861328125],
  'score': 0.6467273235321045,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86e5c9a48>,
  'pixel_col': 840.4526666666666,
  'pixel_row': 843.7486666666666,
  'longitude': 3576875.608772536,
  'latitude': 4260327.290100303,
  'area(square meter)': 390.70344239143594,
  'Roof_Azimuth': -161.84366376154878},
 {'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [774.2685546875,
   376.3355712890625,
   36.41156005859375,
   78.1385498046875],
  'score': 0.6355214715003967,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86e5c9c08>,
  'pixel_col': 879.7904596369254,
  'pixel_row': 846.3057164928545,
  'longitude': 3576896.9519363088,
  'latitude': 4260332.784879239,
  'area(square meter)': 269.7423865238108,
  'Roof_Azimuth': -71.84361825504922},
 {'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [828.5311889648438,
   861.5252075195312,
   36.56658935546875,
   31.71954345703125],
  'score': 0.6239560842514038,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86d983fc8>,
  'pixel_col': 883.1138328530259,
  'pixel_row': 879.4596541786743,
  'longitude': 3576904.4933034484,
  'latitude': 4260315.751236971,
  'area(square meter)': 216.91939637797165,
  'Roof_Azimuth': 108.15630006434763},
 {'image_id': 1,
  'category_id': 1,
  'image_name': 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif',
  'bbox': [4.115918159484863,
   871.296142578125,
   41.308773040771484,
   27.560302734375],
  'score': 0.6196566224098206,
  'polygon': <shapely.geometry.polygon.Polygon at 0x1c86f6bd048>,
  'pixel_col': 885.952131043257,
  'pixel_row': 23.69545165394402,
  'longitude': 3576756.9096389124,
  'latitude': 4260770.855477823,
  'area(square meter)': 327.5600773165256,
  'Roof_Azimuth': 108.15800464338453}]

In [6]:
geo_df_full.iloc[0].geometry.area

316.9206268219927

In [7]:
area

NameError: name 'area' is not defined

In [10]:
obj.save_to_csv('D:/j.csv')

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('D:/j.csv')
df

,image_id,category_id,image_name,bbox,score,polygon,pixel_col,pixel_row,longitude,latitude,area(square meter),Roof_Azimuth
0,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[789.4105224609375, 9.902623176574707, 46.3276...",0.776938,"POLYGON ((3576427.523029577 4260203.733879725,...",26.082018,812.640204,3.576438e+06,4.260202e+06,253.50,-63.434949
1,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[865.0595703125, 870.4891967773438, 28.8116455...",0.742676,"POLYGON ((3576617.430850458 4260283.073067661,...",415.059885,791.672504,3.576641e+06,4.260281e+06,635.25,180.000000
2,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[716.3833618164062, 467.3431091308594, 55.1365...",0.721659,"POLYGON ((3576656.713768512 4260326.550043047,...",484.069760,745.437816,3.576669e+06,4.260317e+06,396.00,90.000000
3,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[824.4927978515625, 822.1723022460938, 37.1214...",0.646727,"POLYGON ((3576863.410837313 4260331.379192409,...",840.452667,843.748667,3.576876e+06,4.260327e+06,312.50,180.000000
4,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[774.2685546875, 376.3355712890625, 36.4115600...",0.635521,"POLYGON ((3576888.335980703 4260330.727609823,...",879.790460,846.305716,3.576897e+06,4.260333e+06,215.75,90.000000
5,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[828.5311889648438, 861.5252075195312, 36.5665...",0.623956,"POLYGON ((3576895.713126027 4260320.791121186,...",883.113833,879.459654,3.576904e+06,4.260316e+06,173.50,90.000000
6,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[4.115918159484863, 871.296142578125, 41.30877...",0.619657,"POLYGON ((3576747.103224574 4260773.932124602,...",885.952131,23.695452,3.576757e+06,4.260771e+06,262.00,90.000000

In [ ]:
'''# Saving the dataframe
geo_df_full.to_file("processed_prediction_result.geojson", driver='GeoJSON')'''

In [ ]:
plt.imshow(mask)