In [ ]:
%config Completer.use_jedi = False
from solaris.data import data_dir
import solaris as sol
import os
import skimage
import geopandas as gpd
from matplotlib import pyplot as plt
from shapely.ops import cascaded_union
import cv2
import rasterio as rio
import pycocotools.mask as mask_util
import shapely
import math

In [2]:
from post_processing_pipeline import Post_Process

In [3]:
# Test our pipeline
data_dir = 'D:/SpaceNet_TrainData/train/AOI_6_Atlanta/Atlanta_tif'
image = rio.open(os.path.join(data_dir, 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif'))
mask = cv2.imread('D:/mask.jpg', 0)
coco_file = 'D:/coco_instances_results (2).json'
img_name = 'SN4_buildings_train_AOI_6_Atlanta_nadir7_catid_1030010003D22F00_PS-RGBNIR_741251_3742239.tif'

In [9]:
obj=Post_Process(coco_file, image, img_name, 0.6)
mask, data_dict = obj.get_full_post_process(result_to_dict=True)
#geo_df_full

In [11]:
'''import json
json.dumps(data_dict)'''

'import json\njson.dumps(data_dict)'

In [12]:
obj.save_to_csv('D:/h.csv')

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('D:/h.csv')
df

,image_id,category_id,image_name,bbox,score,polygon,pixel_col,pixel_row,longitude,latitude,area(square feet),Roof_Azimuth
0,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[789.4105224609375, 9.902623176574707, 46.3276...",0.776938,POLYGON ((33.79326564214003 -84.39416849498915...,26.082018,812.640204,33.793225,-84.394083,2.291264e-09,-29.311315
1,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[865.0595703125, 870.4891967773438, 28.8116455...",0.742676,"POLYGON ((33.79335441773638 -84.3921843260058,...",415.059885,791.672504,33.793275,-84.391981,5.741707e-09,-88.788227
2,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[716.3833618164062, 467.3431091308594, 55.1365...",0.721659,POLYGON ((33.79357828759313 -84.39168621220112...,484.069760,745.437816,33.793475,-84.391603,3.579254e-09,-178.261725
3,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[824.4927978515625, 822.1723022460938, 37.1214...",0.646727,POLYGON ((33.79305583894095 -84.38979078653233...,840.452667,843.748667,33.792992,-84.389693,2.824516e-09,-88.260493
4,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[774.2685546875, 376.3355712890625, 36.4115600...",0.635521,"POLYGON ((33.7929834674264 -84.38956622255857,...",879.790460,846.305716,33.792976,-84.389481,1.950045e-09,-88.787057
5,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[828.5311889648438, 861.5252075195312, 36.5665...",0.623956,POLYGON ((33.79288806450177 -84.38953132653694...,883.113833,879.459654,33.792826,-84.389468,1.568168e-09,-88.787061
6,1,1,SN4_buildings_train_AOI_6_Atlanta_nadir7_catid...,"[4.115918159484863, 871.296142578125, 41.30877...",0.619657,POLYGON ((33.79673075749002 -84.38941460372484...,885.952131,23.695452,33.796681,-84.389335,2.368173e-09,1.740003

In [ ]:
'''# Saving the dataframe
geo_df_full.to_file("processed_prediction_result.geojson", driver='GeoJSON')'''